@use "base/variables" as v;
@use "base/mixins" as m;

.contenido-cuenta {
  //   text-align: center;
  span {
    font-weight: bold;
    font-size: 2.4rem;
  }
  img {
    width: 20%;
  }
  button {
    width: 25%;
  }
}
.contenedor-servicio {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid v.$naranja;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &:last-of-type {
    margin-bottom: 2rem;
  }
}
