@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-app {
  max-width: 150rem;
  background-color: white;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    // margin: 1rem auto;
    max-width: 150rem;
    height: auto;
    // width: 80%;
    background-color: white;
    // margin-top: 30px;
    // margin-bottom: 3rem;
  }

  .imagen {
    height: 30rem;
    background-image: url("../img/reserved.jpeg");
    background-size: cover;
    background-position: center center;

    @include m.tablet {
      height: auto;
    }
  }

  .descripcion-pagina {
    color: black;
    padding-bottom: 0.5rem;
  }

  .contenido {
    // text-align: center;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;

    @include m.desktop {
      margin: 0 auto;
    }
  }

  .formulario {
    label {
      color: black;
      font-weight: bold;
    }
  }
}

.nombre-pagina {
  color: v.$naranja;
  margin: 0;
  padding-top: 0rem;

  @include m.tablet {
    padding-top: 2.5rem;
  }
}

.campo input {
  // width: 100%;
  padding: 10px 16px;
  border-radius: 0;
  border: none;
  border-bottom: solid 1px v.$gris;
  outline: none;
  font-size: 2rem;
  text-align: left;
}

.campo {
  padding-right: 4rem;
  padding-left: 5rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
}
